<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="./css/home/login.css" >
    <script src="/js/home/register.js" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">

          <form class="login-form">
            <input id="id" type="text" placeholder="id"/>
            <input id="name" type="text" placeholder="name"/>
            <input id="pwd" type="password" placeholder="pwd"/>
            <input id="confirm-pwd" type="password" placeholder="confirmPwd"/>
            <p id="button">회원가입</p>
            <p class="message">Already registered? 
                <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Aigars Silkalns의 저작권 (c) 2021 https://codepen.io/colorlib/pen/rxddKy) -->